/* /////////////////////////
/* WebApp Dashboard */
/* ////////////////////// */

/*
social media purple #7477BE
social media font purple #585cab

header color: #7477bf
dark nav purple  #4d4c72
lightest purple #d5d6ec
green for links and buttons  #8cc369
aqua for pie chart along with button green  #51b6c8

neutral grey  #f5f5f5

horizontal lines and borders #solid 2px #cccccc

FONT FAMILIES:

font-family: 'KoHo', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif;
*/

/* Base Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  font-family: "Raleway", sans-serif;
}

/* Main Grid Setup */

/* 110px for header, 90px for nav, 1fr for the body */
.grid-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas:
    "header"
    "navigation"
    "main";
}
header {
  grid-area: header;
}
nav {
  grid-area: navigation;
}
main {
  grid-area: main;
}

/* Header Sections */

main {
  background-color: white;
}
header {
  color: white;
  background-color: #7477bf;
  display: flex;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
}
h1.logo {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2em;
  order: 1;
  font-weight: 400;
}
.logo span {
  font-weight: bold;
}
span.tm {
  font-weight: 200;
}
.header-content {
  height: 90px;
  width: 100%;
  order: 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
div#notifications {
  border-left: solid 1px white;
}
header img {
  border-radius: 50%;
  width: 3em;
  margin-left: 10px;
}
.header-content svg {
  fill: white;
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 10px;
}
.header-content h3 {
  font-size: 0.9em;
  margin-left: 8px;
}

nav {
  display: flex;
  background-color: #4d4c72;
  text-align: center;
  padding: 15px;
  justify-content: space-around;
}
nav a svg {
  width: 2.8em;
  height: 2.8em;
  fill: white;
}
/* Content Area */
.dashboard-header {
  width: 100%;
  height: 45px;
  margin-bottom: 25px;
  display: flex;
  padding-left: 10px;
}
h2.headline {
  order: 1;
  border-right: solid 2px #cccccc;
  padding-right: 15px;
  padding-top: 10px;
}
.gray-tab {
  order: 2;
  width: 100%;
  border-bottom: solid 2px #cccccc;
}
div#alert {
  background-color: #7477bf;
  border-radius: 4px;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
}

.alert-banner {
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  align-items: center;
  height: 50px;
  padding-left: 5px;
  padding-right: 5px;
}
p.alertText {
  font-size: 1em;
  flex-grow: 1;
}

.traffic-header h3,
.daily h3,
.mobile h3,
.social h3,
.members h3,
.activity h3 {
  padding-left: 18px;
  font-size: 1em;
}
.daily h3,
.mobile h3 {
  margin-bottom: 15px;
}
ul.traffic-nav {
  margin-top: 15px;
  margin-bottom: 25px;
  text-align: left;
  margin-left: 20px;
}
li.traffic-nav-link {
  display: inline;
  font-size: 1.1em;
  padding-right: 8px;
}

li.traffic-nav-link:hover {
  background-color: #8cc369;
  color: white;
  width: 45px;
  border-radius: 40px;
  padding: 10px;
  cursor: pointer;
}
li.traffic-nav-link:active {
  background-color: #8cc369;
  width: 45px;
  border-radius: 40px;
  padding: 10px;
}
.widget-container-full,
.widget-container-half {
  /* width: 95vw; */
  width: 100vw;
}

.profile-image,
.members-container img {
  border-radius: 50%;
  width: 75px;
}

/*  graphs and charts */
canvas#trafficChart,
canvas#daily-chart,
canvas#mobile-chart {
  width: 90%;
  border-bottom: 2px solid #cccccc;
  margin-bottom: 20px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

/* Social section */
.social {
  border-bottom: 2px solid #cccccc;
  margin-bottom: 20px;
  padding-bottom: 15px;
}
.social-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.social-container {
  background-color: #f5f5f5;
  width: 90%;
  height: 130px;
  border-radius: 10px;
  border: solid 2px grey;
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.social-image {
  display: flex;
  margin: 0 15px 0 15px;
}
p.social-name {
  font-size: 1.5em;
  color: #7477be;
  padding-left: 5px;
}
p.social-stat {
  font-family: "KoHo", sans-serif;
  font-size: 3em;
  color: #636060;
}
svg.twitter-icon,
svg.instagram-icon,
svg.facebook-icon {
  border-radius: 50%;
  height: 75px;
  fill: white;
  background-color: #7477be;
  padding: 25px;
}

/* Members section */

.members-container {
  text-align: center;
  border-bottom: 2px solid #cccccc;
  margin-bottom: 20px;
  padding-bottom: 15px;
}
.members h3 {
  margin-bottom: 25px;
}
.members a {
  color: #7477bf;
  text-decoration: none;
}

/* recent activity */

.activity h3 {
  margin-bottom: 25px;
}
p.right-arrow {
  display: none;
}

/* Media Queries */

@media (min-width: 768px) {
  main {
    display: grid;
  }
  .grid-container {
    grid-template-columns: 75px 1fr;
    /* was 55px 1fr */
    grid-template-areas:
      "header header"
      "navigation main";
  }
  .main {
    grid-template-columns: 50%;
  }
  nav {
    flex-direction: column;
    justify-content: flex-start;
  }
  nav a svg {
    margin-bottom: 35px;
  }
  .traffic,
  .social {
    grid-column: 1 / span 2;
  }
  .daily,
  .members,
  .message {
    grid-column: 1 / span 1;
  }

  .mobile,
  .activity,
  .settings {
    grid-column: 2 / span 1;
  }

  .widget-container-full {
    width: 90vw;
  }
  .widget-container-half {
    width: 45vw;
  }
  p.right-arrow {
    display: display;
  }
}

/* @media (min-width: 1024px) {
  .grid-container {
    grid-template-columns: 80px 1fr;
    grid-template-rows: 80px 1fr;
    grid-template-areas:
      "head head"
      "nav main";
  }
} */
