/* /////////////////////////
/* WebApp Dashboard */
/* ////////////////////// */

/* Base Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
}

/* Main Sections & Grid Setup */

main {
  background-color: white;
}
header {
  color: white;
  background-color: #7477bf;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header img {
  border-radius: 50%;
  width: 4em;
}
.bell-alert-icon svg {
  width: 2.5em;
  height: 2.5em;
  fill: white;
}
nav {
  background-color: #4d4c72;
  text-align: center;
  padding: 15px;
}
nav img {
  width: 3em;
  height: 3em;
  fill: white;
}
/* 110px for header, 90px for nav, 1fr for the body */
.grid-container {
  display: grid;
  /* height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 110px 90px 1fr; */
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas:
    "header"
    "navigation"
    "main";
}
header {
  grid-area: header;
}
nav {
  grid-area: navigation;
}
main {
  grid-area: main;
}
.widget-container-full, .widget-container-half { 
  width: 95vw;
}

/* Content Area */

.profile-image {
  border-radius: 50%;
}

/* Media Queries */

@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: 55px 1fr;
    grid-template-areas:
      "header header"
      "navigation main";
  }
  .main {
    grid-template-columns: 50%;
  }
  .traffic,
  .social {
    grid-column: 1 / span 2;
  }
  .daily, .members, .message {
  .daily, .members, .message { grid-column: 1 / span 1;
  }
  .mobile, .activity, .settings {
    grid-column: 2 / span 1;
  }
  .widget-container-full {
    width: 90vw;
}
.widget-container-half {
  width: 45vw;
}
}
@media (min-width: 1024px) {
  .grid-container {
    grid-template-columns: 80px 1fr;
    grid-template-rows: 80px 1fr;
    grid-template-areas:
      "head head"
      "nav main";
  }
}
