/* /////////////////////////
/* WebApp Dashboard */
/* ////////////////////// */

/* Base Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
}

/* Main Sections & Grid Setup */

/* 110px for header, 90px for nav, 1fr for the body */
.grid-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas:
    "header"
    "navigation"
    "main";
}
header {
  grid-area: header;
}
nav {
  grid-area: navigation;
}
main {
  grid-area: main;
}

main {
  background-color: white;
}
header {
  color: white;
  background-color: #7477bf;
  display: flex;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
}
h1.logo {
  font-size: 1.2em;
  order: 1;
}
.right-header-content {
 height: 90px;
 width: 100%;
 order: 2;
 display: flex;
 align-items: center;
}
div#notifications {
  border-left: solid 1px white;
}
header img {
  border-radius: 50%;
  width: 3em;
  margin-left: 10px;
}
g.bell-alert-icon {
  
  fill: white;
}
nav {
  display: flex;
  background-color: #4d4c72;
  text-align: center;
  padding: 15px;
  justify-content: space-evenly;
}
nav a svg {
  width: 2.8em;
  height: 2.8em;
  fill: white;
}




.widget-container-full, .widget-container-half { 
  width: 95vw;
}



/* Content Area */

.profile-image {
  border-radius: 50%;
}

/* Media Queries */

@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: 75px 1fr;
    /* was 55px 1fr */
    grid-template-areas:
      "header header"
      "navigation main";
  }
  .main {
    grid-template-columns: 50%;
  }
  .traffic,
  .social {
    grid-column: 1 / span 2;
  }
  .daily, .members, .message {
  .daily, .members, .message { grid-column: 1 / span 1;
  }
  .mobile, .activity, .settings {
    grid-column: 2 / span 1;
  }
  .widget-container-full {
    width: 90vw;
}
.widget-container-half {
  width: 45vw;
}
}
/* @media (min-width: 1024px) {
  .grid-container {
    grid-template-columns: 80px 1fr;
    grid-template-rows: 80px 1fr;
    grid-template-areas:
      "head head"
      "nav main";
  }
} */
